.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.btn.btn-link {
  margin-top: 4px;
  text-decoration: none;
}

.table th {
  text-align: center;
  font-size: small;
}

h1 {
  color: red;
}
